.tableDetails {
    /*color: rgb(146, 187, 219);*/
    color:rgb(1, 30, 53);
    margin-left: 0px;
    margin-right: 0px; 
    padding-right: 10px;
}

.srTb {
    padding: 0px;
}

th, .searchCol{
    border-bottom: 1px solid gray;
    
}

th{
    color: white;
}

label{
    padding-left: 15px;
    padding-right: 15px;
}

#applyBtn {
    width: 150px;
    border: none;
    background-color: rgb(0, 0, 54);
    color: white;
    height: 30px;
    margin-bottom: 5px;
    border: 1px solid grey;
}


#resetBtn {
    width: 150px;
    border: none;
    height: 30px;
    color:maroon;
}

.searchBar{
    margin-bottom: 15px; 
    text-align: center;
    margin-right: 0px;
    padding-right: 1px;
}

.row{
    margin: 0px !important;
}
.row1{
    width: 100%;
    padding-bottom: 15px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 2px;
    margin-top: 2px !important;
    margin-right: 0px !important;
    
}

select, #minsalary, #maxsalary {
    width: 150px;
    border-radius: 7px;
    border: 1px solid grey;
    background-color: rgba(255, 255, 255, 0.5);
}


#full-time, #part-time{
    width: 50px;
}

.col-md{
    margin-top: 5px;
}
.col-4{
    padding-right: 1px;
    /*overflow: auto;*/
}

.searchTable{
    height: 420px;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.5);
    color:rgb(1, 30, 53);;
}

.searchTable::-webkit-scrollbar{
    background: transparent;
    border: 1px solid rgb(146, 187, 219, 0.3);
}

.searchTable::-webkit-scrollbar-thumb{
    background: rgb(146, 187, 219, 0.9);
}

.searchPage{
    margin-right: 0px;
}

.searchRows:hover{
    background-color: rgb(146, 187, 219, 0.9);
    cursor: pointer;
}

th.col{
    position: sticky;
    top: 0; /* Don't forget this, required for the stickiness */
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4); 
    /*background-color: rgb(0, 12, 39);
    background-color: rgb(1, 1, 43);*/
    background-color: rgba(255,255,255,0);
    background: white;
}

.labelsK, .labelsV {
    font-size: 20px;
}

#lvsummary, #lvduties {
    font-size: 15px;
}

.labelsK{
    color: black;
}
.labelsV{
    color: maroon;
    word-wrap: normal;
}


.Details{
    height: 420px;
    overflow: auto;
}

.Details::-webkit-scrollbar{
    background: transparent;
    border: 1px solid rgb(146, 187, 219, 0.7);
}

.Details::-webkit-scrollbar-thumb{
    background: rgb(146, 187, 219, 0.9);
}