.styles {
    width: 500px;
    height: 70px;
    text-align: center;
    background-color:transparent;
    color: rgb(146, 187, 219);;
}
.styling1 {
    text-align: center;
    width: 700px;
    background-color: teal;
}
.stateDataStyles {
    display: flex;
    flex-direction: column;
    flex-flow:wrap;
    width:700px;
}
.stylesForFlex {
    display: flex;
    flex-direction: row;
    flex-flow:wrap;
    width: auto;
}
.cityRows{
    background-color: transparent;
}

.cityCol {
    border-bottom: 1px solid  grey;
}