.styles {
    width: 700px;
    height: 70px;
    text-align: center;
    background-color: aqua;
    color: black;
}
.styling1 {
    text-align: center;
    width: 700px;
    background-color: teal;
}
.stateDataStyles {
    display: flex;
    flex-direction: column;
    flex-flow:wrap;
    width:700px;
}
.stylesForFlex {
    display: flex;
    flex-direction: row;
    flex-flow:wrap;
    width: auto;
}